*{
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}
h1{
    text-align: center;
    margin-bottom: 80px;
}
p{
    padding: 15px 5px 0 5px;
    font-size: 16px;
    position: relative;
    color: white;
}
.bigsec{
    background-color: #696969;
    border: 1px solid black;
    padding: 3px;
    position: relative;
    margin: 15px;
}
span {
    font-size: 20px;
    width: 150px;
    border:1px solid black;
    color: white;
    text-align: center;
    float: right; 
    top:0;
    right: 0;
    position: absolute;
}
#sec1{
    background-color: #F08080;

}
#sec2{
    background-color: #FF0000;
}
#sec3{
    background-color: #B8860B;
}
.container{
    width: 100%;
}

@media (min-width: 992px){
    .col-lg-4{
        width:33.33%;
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6{
        width:50%;
        float: left;
    }
    .col-md-12{
        width: 100%;
        float: left;

    }
}
@media (min-width: 767px){
    .col-sx-12{
        width:100%;
        float:left;
    }
}